extends layouts/main-layout

block styles
    link(rel="stylesheet", type = "text/css", href = "css/formInput.css")
    link(rel="stylesheet", type = "text/css", href = "css/displayUsers.css")

block content
    h1 Page not found